/*This is for the Navigation Bar and the Home bar*/
:root {
  --gradient: linear-gradient(to right, #F2613F 1%, #0c0c0c 25%);
}

body{
    display: contents;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
}
.navi{
  margin-bottom: 0px;
}
.navlink{
  align-items: center;
  text-align: center;
  align-self: center;
  align-content: center;
}
.main-container{
    height: 100%;
    width: 100%;
}
.container-fluid{
  margin-bottom: 0px;
}
#mx{
  font-size: 1.85rem;

}
.fs-4{
  background-color: #F2613F;
}
header{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  background-color: #0C0C0C;
  background-image: linear-gradient(to right, #F2613F 1%, #0c0c0c 25%); /* Add this line */
  background-size: 100% 100%;
  background-position:left;
  color: cornsilk;
  align-items: center;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.foot{
  background-color: #0C0C0C;
  color: #F2613F;
  margin-top: -10px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  hr{
    height: 100px; 
    border: 2px solid #F2613F;
  }
}

.Address {
  flex-basis: 30%;
  text-align: right;
  font-size:medium;
}

.Links {
  flex-basis: 30%;
  text-align: center;
}

.Links a {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  color: #F2613F;
  font-size: medium;
}

.social-media {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  text-align: left;
  font-size: medium;
}

.social-media a {
  text-align: left;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  color: #F2613F;
}

ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

ul li{
    margin-right: 40px;
}

ul li a{
    text-decoration: none;
    color:whitesmoke;
    &:hover{
        color: #F2613F;
        border-bottom: #F2613F 1px solid;
    }
    &.active{
        color: #F2613F;
        border-bottom: #F2613F 1px solid;
    }
}


.main-content{
    background-color: #0C0C0C;
    background-image: linear-gradient(to right, #F2613F 1%, #0c0c0c 25%); /* Add this line */
    display: flex;}

.content{
    text-align: end;
    justify-content: center;
    width: 100%;
    max-height: max-content;
}

.content-text{
  text-align: center;
    margin-left: 150px;
    margin-top: 100px;
    color: #F2613F;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-variant: small-caps;
}
    .but{
        background-color: #F2613F;
        margin-right: 15px;
        padding: 0px 30px 0px 30px;
        border-radius: 25px;
        border: none;
        cursor: pointer;
        transform: translateX(0%) translateY(0%);
        transition: 0.5s;
        color: whitesmoke;
        &:hover{
            background-color: #9B3922;
            color: #0C0C0C;
        }
    }


img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Set a style for all buttons */
form button {
  background-color: #0c0c0c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
input, textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  resize: none;
}

.submit-button{
  text-align: center;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: hwb(0 0% 100% / 0.46); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;/* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.modal-content-register {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.body-details{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.age, .weight, .height, .gender{
  width: 33%;
}

.body-details input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.body-details select, option{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

/* The Close Button (x) */
.close {
  color: #F2613F;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*Register form*/
.page-heading{
  text-align: center;
}

form{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: #f4f4f4;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #333;
}

/*This is for the Features page*/
.main-content-features{
  background-color: #0C0C0C;
  height: 100%;
  text-align: center;
  h1{
    color: #F2613F;
  }
}


.features-holder{
  height: 100% auto;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.features-holder hr{
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 50%;
}
.feature-text{
  margin-top: 20px;
}

.feature-1, .feature-2, .feature-3{
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  height: 390px;
  border: 2px solid black;
  text-align: center;
  background: inherit;
  background-color: gray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #0C0C0C;
  &:hover{
    background-color: whitesmoke;
    box-shadow: 0 8px 16px 0 #F2613F;
    color: #0C0C0C;
  }
}

.packages-holder{
  display: flex;
  justify-content: center;
  background-color: #0C0C0C;
  margin-top: 80px;
  height: 500px;
}

.column {
  float: left;
  width: 300px;
  height: 390px;
  
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 #F2613F;
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
  padding-right: 16px;
}

.grey .button {
  background-color: #F2613F;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s;
  &:hover{
    background-color: #9B3922;
  }
}

@media only screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*This is for the Explore page*/
.main-content-explore{
  background-color: #0C0C0C;
  height: 100%;
  padding-bottom: 1px;
  padding-top: 30px;
  text-align: center;
  margin-top: -10px;
  h1{
    color: #F2613F;
  }
}

.explore-tabs{
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  background-color: whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

/*This is for the Get Started Page*/
.main-content-started{
  background-color: #0C0C0C;
  height: 100%;
  padding-top: 30px;
  text-align: center;
  h1{
    color: #F2613F;
  }
}

@media only screen and (max-width: 480px) {
  /* Adjust header and navigation */

  body{
    display: contents;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}
.main-container{
    height: 100% fixed;
    width: 100%;
    overflow-x: hidden;
}

  header {
    height: 60px;
    padding: 10px;
  }

  button.credentials-button{
    background-color: #F2613F;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: whitesmoke;
    transition: 0.5s;
    &:hover{
        background-color: #9B3922;
        color: #0C0C0C;
    }
}

a button.credentials-button{
    text-decoration: none;

}
  
  /* Adjust main content */
 .main-content {
    flex-direction: column;
  }
 .content {
    width: 100%;
    text-align: center;
  }
 .content-text {
    margin-left: 0;
    margin-top: 20px;
  }
  
  /* Adjust modal windows */
 .modal-content,.modal-content-register, .modal-content-explore {
    width: 100%;
    margin: 10% auto;
  }


    .explore-tabs{
      display: flex;
      margin-left: 5px;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .packages-holder{
      display: flex;
      justify-content: center;
      background-color: #0C0C0C;
      margin-top: 80px;
      height: 600px;
      font-size: 10px;
      font-weight: 10px;
    }

    .column {
      float: left;
      width: 130px;
      height: 10px;
      .grey{
        font-size: 10px;
      }
    }
    .foot{
      margin-top:-10px;
      background-color: #0C0C0C;
    }

    .footer-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      background-color: #000000;
      
      hr{
        height: 0;
        width: 100px; 
        border: 0.5px solid #F2613F;
      }
    }
    
    .Address {
      flex-basis: 30%;
      text-align: center;
    }
    
    .Links {
      flex-basis: 30%;
      text-align: center;
    }
    
    .Links a {
      text-decoration: none;
      display: block;
      margin-bottom: 10px;
      color: #F2613F;
    }
    
    .social-media {
      display: flex;
      flex-direction: column;
      flex-basis: 30%;
      text-align: center;
    }
    
    .social-media a {
      text-align: left;
      text-decoration: none;
      display: block;
      margin-bottom: 20px;
      color: #F2613F;
    }
}

@media only screen and (max-width: 768px) {
  /* Adjust header and navigation */
  header {
    width: 96%;
    height: 70px;
    padding: 15px;
  }

  /* Adjust main content */
.main-content {
  width: 100%;
  flex-direction: row;
}
.content {
    text-align: center;
}
.content-text {
    margin-left: 20px;
    margin-top: 30px;
}
  
  /* Adjust modal windows */
.modal-content,.modal-content-register {
  width: 80%;
   margin: 15% auto;
  }
}
